# Summary

This program will be a windows program built in Rust.

Upon initial launch, it should prompt the user where to look for Music (which directory or folder).

It should then scan that folder (and all subfolders) for individual music files.

Then it should generate a playlist of about 50 songs at random.

Then it should display the new songs to the user, and start playing the music on the default device.

The user should have the option to skip songs and remove from the list (via UI controls)

# References

# Assumptions

- We will need to make a UI that can play, skip, loop and repeat
- We will need to make the default device for the windows machine the one we use to play sound
- We will need to make this an executable
- We will need a place to store environment variables, perhaps in .txt files in the main install folder
- We will need to prompt and allow the user to update the folder where the app should find music
- We will need to scan subfolders and folders and be agnostic of where the music came from

# Implementation Steps

- 1. Create a project in Rust which accomplishes our main goals
- 2. Check to make sure our requirements and assumptions are met
- 3. Produce a github action that compiles this to a windows exe
- 4. Work on UI improvements once we verify function

# Confidence Level

- **High/Medium/Low** confidence

# Questions
